name: Flutter CI

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./battlebottles

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Create firebase_options.dart
        env:
          FIREBASE_DATA: ${{ secrets.FIREBASE_OPTIONS_BASE64 }}
        run: |
          echo "$FIREBASE_DATA" | base64 --decode > lib/firebase_options.dart

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze code
        run: flutter analyze

      - name: Run tests
        run: flutter test